.story {
    box-sizing: border-box;
    width: 100%;
    height: 729.59px;
    margin-top: 80px;
    padding: 80px 0px;
    background-color: rgb(246, 246, 246); 
}

.storyArea {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1240px;
    height: 649.59px;
    padding: 0px 20px;
    background-color: rgb(246, 246, 246);   
}

.storyArea .box1 {
    position: relative;
    width: 600px;
    height: 569.59px;
    background-color: yellow;
}

.box1Img img {
    width: 600px;
    height: 569.59px;
}

.box1Text {
    width: 600px;
    height: 569.59px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    
}

.box1Text .headText {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 85px;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0));
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.headText p:first-child {
    margin: 0;
    color: #ffffff;
    font-size: 27px;
    font-weight: 700;
}

.headText p:last-child {
    margin: 0;
    line-height: 2;
    color: #ffffff;
    font-size: 23px;
}

.box1Text .footText {
    box-sizing: border-box;
    width: 600px;
    height: 139.88px;
    padding: 0px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25));
}

.footText p {
    margin: 0;
    width: 540px;
    height: 35.88px;
    color: #ffffffcc;
    font-size: 23px;
    font-weight: 700;

}

.footText .itemInfo {
    margin-top: 10px;
    display: flex;
}

.itemInfo .info1 {
    width: 64px;
    height: 64px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 500;
    line-height: 2.7;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(253, 92, 92);
}
.itemInfo .info2 {
    width: 43px;
    height: 27px;
    margin-left: 16px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration-line: line-through;
    font-size: 17px;
    text-align: center;
    line-height: 3.7;
}
.itemInfo .info3 {
    width: 96.83px;
    height: 45px;
    margin-left: 12px;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    line-height: 2.3;


}

.storyArea .box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 579.95px;
    height: 569.59px;
}

.box2 .box2H {
    position: relative;
    width: 579.95px;
    height: 273.73px;
}

.box2H img {
    width: 579.95px;
    height: 273.73px;
}

.box2H .textBox {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 137px;
    height: 65px;
}

.textBox .boxText1 {
    margin: 0px;
    width: 136.5;
    height: 39px;
    font-size: 23px;
    font-weight: 700;
    color: #333333;
}

.boxTime {
    width: 136.5px;
    height: 21px;
    margin-top: 5px;
}

.textBox .boxText2 {
    margin: 0px;
    color: #666666;
    font-size: 13px;
}

.box2 .box2F {
    position: relative;
    width: 579.95px;
    height: 273.73px;
}

.box2F img {
    width: 579.95px;
    height: 273.73px;
}

.storyText {
    position: absolute;
    top: 102px;
    left: 40px;
}

.storyText p:first-child {
    margin: 0px;
    width: 142.73px;
    height: 27px;
    color: #FFFFFFB3;
    font-size: 17px;
    font-weight: 500;
}

.storyText p:last-child {
    margin: 0px;
    margin-top: 3px;
    width: 142.73;
    height: 39px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}
